In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pls
import seaborn as sns
import os

from itertools import product
%matplotlib inline

In [2]:
DATA_FOLDER = '../readonly/final_project_data/'

transactions    = pd.read_csv(os.path.join(DATA_FOLDER, 'sales_train.csv.gz'))
items           = pd.read_csv(os.path.join(DATA_FOLDER, 'items.csv'))
item_categories = pd.read_csv(os.path.join(DATA_FOLDER, 'item_categories.csv'))
shops           = pd.read_csv(os.path.join(DATA_FOLDER, 'shops.csv'))

test            = pd.read_csv(os.path.join(DATA_FOLDER, 'test.csv'))

In [3]:
def lookup(s):
    """https://stackoverflow.com/questions/29882573/pandas-slow-date-conversion
    """
    dates = {date:pd.to_datetime(date, format='%d.%m.%Y') for date in s.unique()}
    return s.map(dates)

transactions['date'] = lookup(transactions['date'])
transactions['total_renveue'] = transactions['item_price'] * transactions['item_cnt_day']

In [4]:
print('transactions:', transactions.shape)
print('items:', items.shape)
print('item_categories:', item_categories.shape)
print('shops:', shops.shape)

transactions: (2935849, 7)
items: (22170, 3)
item_categories: (84, 2)
shops: (60, 2)

In [5]:
transactions.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,total_renveue
0,2013-01-02,0,59,22154,999.00,1.0,999.00
1,2013-01-03,0,25,2552,899.00,1.0,899.00
2,2013-01-05,0,25,2552,899.00,-1.0,-899.00
3,2013-01-06,0,25,2554,1709.05,1.0,1709.05
4,2013-01-15,0,25,2555,1099.00,1.0,1099.00

In [6]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [7]:
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [8]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

## Aggregate data

In [10]:
index_cols = ['shop_id', 'item_id', 'date_block_num']

# For every month we create a grid from all shops/items combinations from that month
grid = [] 
for block_num in transactions['date_block_num'].unique():
    cur_shops = transactions[transactions['date_block_num']==block_num]['shop_id'].unique()
    cur_items = transactions[transactions['date_block_num']==block_num]['item_id'].unique()
    grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

#turn the grid into pandas dataframe
grid = pd.DataFrame(np.vstack(grid), columns = index_cols,dtype=np.int32)

#get aggregated values for (shop_id, item_id, month)
gb = transactions.groupby(index_cols,as_index=False).agg({'item_cnt_day':{'item_cnt_month':'sum'}})

#fix column names
gb.columns = [col[0] if col[-1]=='' else col[-1] for col in gb.columns.values]
##join aggregated data to the grid
all_data = pd.merge(grid,gb,how='left',on=index_cols).fillna(0)
##sort the data
all_data.sort_values(['date_block_num','shop_id','item_id'],inplace=True)

/Users/floriansestak/anaconda/envs/tensorflow/lib/python3.5/site-packages/pandas/core/groupby.py:4036: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [11]:
all_data.head()

        shop_id  item_id  date_block_num  item_cnt_month
139255        0       19               0             0.0
141495        0       27               0             0.0
144968        0       28               0             0.0
142661        0       29               0             0.0
138947        0       32               0             6.0

#### Week2 predict from October

In [22]:
oct_2015 = all_data[all_data['date_block_num'] == all_data['date_block_num'].max()]
predictions = pd.merge(test, oct_2015, on=['shop_id', 'item_id'], how='left')
predictions['item_cnt_month'].fillna(0, inplace=True)
predictions.drop(['shop_id', 'item_id', 'date_block_num'], axis=1, inplace=True)
predictions['item_cnt_month'] = predictions['item_cnt_month'].clip(0, 20)
predictions.to_csv('submission.csv', index=False)