In [13]:
import pandas as pd
import numpy as np
import test as test

In [23]:
df_train = pd.read_csv('../readonly/final_project_data/train.csv')
df_test = pd.read_csv('test_enc.csv')

In [27]:
df_train.head()

,shop_id,item_id,date_block_num,target,item_category_id,item_target_enc,item_cat_target_enc,shop_target_enc
0,0,19,0,0.0,40,0.022222,0.254051,0.718848
1,0,27,0,0.0,19,0.056834,0.757562,0.718848
2,0,28,0,0.0,30,0.141176,1.203292,0.718848
3,0,29,0,0.0,23,0.037383,0.665891,0.718848
4,0,32,0,6.0,40,1.319042,0.254051,0.718848

In [28]:
df_test['date_block_num'] = 34
df_test = df_test[['ID', 'shop_id', 'item_id', 'item_category_id', 
                  'item_target_enc', 'item_cat_target_enc', 'shop_target_enc', 'date_block_num']]

In [3]:
#tmp = test.base_learner
#tmp.fit(df_train.drop(['target'], axis=1).values, df_train['target'].values)

In [4]:
#df_sub = pd.DataFrame()
#df_sub['ID'] = df_test['ID']
#df_sub['item_cnt_month'] = tmp.predict(df_test.drop(['ID'], axis=1).values)

In [32]:
df_sub.to_csv('submission.csv', index=False)